<div class="home_marquee_container">
    <div class="container_marquee">
        <marquee> 
            <h1>"Every man takes the limits of his own field of vision for the limits of the world." -Arthur Schopenhauer-</h1>
        </marquee>
    </div>
</div>
<div>
    <section id="slide2">
        <figure>
            <h2>3</h2>
            <h3>Techniques for living</h3>
        </figure>
        <article>
            <div class="title">
                <h2 class="title-text">ComputerScience</h2>
            </div>
            {% include tags.html %}
            <div class="contents">
                <table class="catalouge">
                    <tr>
                        {% assign sorted = site.pages | sort: 'date' | reverse | where: 'type', 'tech' %}
                        {% for page in sorted limit:3 %}
                        {% include post-card.html %}
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="title">
                <h2 class="title-text">Life & Business</h2>
            </div>
            {% include tags.html %}
            <div class="contents">
                <table class="catalouge">
                    <tr>
                        {% assign sorted = site.pages | sort: 'date' | reverse | where: 'type', 'blog' %}
                        {% for page in sorted limit:3 %}
                        {% include post-card.html %}
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </article>
    </section>
</div>



<!-- <section class="tech-new up-on-scroll">
    <div class="title">
        <h2 class="title-text">Tech 최신 게시물</h2>
    </div>
    {% include tags.html %}
    <div class="contents">
        <table class="catalouge">
            <tr>
                {% assign sorted = site.pages | sort: 'date' | reverse | where: 'type', 'tech' %}
                {% for page in sorted limit:3 %}
                {% include post-card.html %}
                {% endfor %}
            </tr>
        </table>
    </div>
</section> -->

<!-- <section class="background-change-wrap up-on-scroll">
    <div>
    <img src="../img/bg.jpg" alt="" />
    </div>
</section> -->

<!-- <script>
let ticking = false;

function isElementUnderBottom(elem, triggerDiff) {
    const { top } = elem.getBoundingClientRect();
    const { innerHeight } = window;
    return top > innerHeight + (triggerDiff || 0);
    }

    function handleScroll() {
    ticking = false;

    const upOnScrollElems = document.querySelectorAll('.up-on-scroll');
    const upOnHeight = document.body.offsetHeight/2.5 ;
    console.log(upOnHeight);
    upOnScrollElems.forEach(elem => {
        if (isElementUnderBottom(elem)) {
        elem.style.opacity = "0";
        elem.style.transform = `translateY(${upOnHeight}px)`;
        } else {
        elem.style.opacity = "1";
        elem.style.transform = 'translateY(0px)';
        }
    });

    const changeBgSection = document.querySelector('.background-change-wrap');
    const changeBgImg = document.querySelector('.background-change-wrap > div');
    const {top: bgTop, height: bgHeight} = changeBgSection.getBoundingClientRect();
    if (bgTop < 0) {
        const rate = (-1) * bgTop / 4;
        changeBgImg.style.filter = `grayscale(${rate}%)`;
        changeBgImg.style.opacity = `${(100-rate/5) / 100}`;
    } else {
        changeBgImg.style.filter = 'none';
            changeBgImg.style.opacity = `1`;
    }
}

function requestTick() {
    if(!ticking) {
        requestAnimationFrame(handleScroll);
    }
    ticking = true;
}

window.addEventListener('scroll', requestTick);

</script> -->
