<!-- main hero section -->
<section class="hero-home">
    <div class="container_baseline">
        <div>
            <h1 class="header_title_2">YeongUk Choo</h1>
        </div>
    </div>
    <!-- <div class="home_title">
        <div>
            <h1>Keith Choo</h1>
        </div>
    </div> -->
    <div class="home_marquee_container">
        <div class="container_marquee">
            <marquee> 
                <h1>"Every man takes the limits of his own field of vision for the limits of the world." -Arthur Schopenhauer-</h1>
            </marquee>
        </div>
    </div>
    <div class="scroll-container">
        <a href="#slide1">
            <span class="scroll span-right"></span>
            <span class="scroll span-left"></span>
            <p>Scroll</p>
        </a>
    </div>
    <div class="home_bg_img">
        <img
            src="../img/img1.jpg"
            loading="eager"
            sizes="100vw"
            alt="Home Main Background image"
        />
    </div>
</section>
<!-- slide 1 -->
<section id="slide1">
    <article class="up-on-scroll">
        <img 
            src="../img/img7.jpg" 
            alt="road_img"
        />
    </article>
    <article class="article1 need-margin min-height-500 up-on-scroll">
        <h1>The road not taken</h1>
        <h2>-Robert Frost-</h2>
        <br />
        <p>TWO roads diverged in a yellow wood,</p>
        <p>And sorry I could not travel both</p>
        <p>And be one traveler, long I stood</p>
        <p>And looked down one as far as I could</p>
        <p>To where it bent in the undergrowth;</p>
        <br />
        <p>Then took the other, as just as fair,</p>
        <p>And having perhaps the better claim,</p>
        <p>Because it was grassy and wanted wear;</p>
        <p>Though as for that the passing there</p>
        <p>Had worn them really about the same,</p>
        <br />
        <p>And both that morning equally lay</p>
        <p>In leaves no step had trodden black.</p>
        <p>Oh, I kept the first for another day!</p>
        <p>Yet knowing how way leads on to way,</p>
        <p>I doubted if I should ever come back.</p>
        <br />
        <p>I shall be telling this with a sigh</p>
        <p>Somewhere ages and ages hence:</p>
        <p>Two roads diverged in a wood, and I—</p>
        <p>I took the one less traveled by,</p>
        <p>And that has made all the difference</p>
    </article>
</section>

<div id="slide3">
    <div class="slider-container">
        <div class="slide" style="background-image: url('../img/img9.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img10.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img11.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img12.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img13.jpeg');"></div>
        <div class="slide" style="background-image: url('../img/img14.jpeg');"></div>
        <div class="slide" style="background-image: url('../img/img15.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img16.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img17.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img18.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img19.JPG');"></div>
        <div class="slide" style="background-image: url('../img/img20.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img21.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img22.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img23.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img24.jpg');"></div>
        <div class="slide" style="background-image: url('../img/img25.jpg');"></div>

        <div class="controls-container">
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
            <div class="control"></div>
        </div>
    </div>
    <div class="youtube-player">
        <iframe height="315" src="https://www.youtube.com/embed/TSIRhHS_ooc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <script src="../js/slider.js"></script>
</div>


<!-- slide 2 -->
<div>
    <section id="slide2">
        <figure>
            <img src="../img/img7.jpg" alt="img2">
        </figure>
        <article>
            <h1>The road not taken</h1>
            <h2>-Robert Frost-</h2>
            <br />
            <p>Two roads diverged in a yellow wood,</p>
            <p>And sorry I could not travel both</p>
            <p>And be one traveler, long I stood</p>
            <p>And looked down one as far as I could</p>
            <p>To where it bent in the undergrowth;</p>
            <br />
            <p>Then took the other, as just as fair,</p>
            <p>And having perhaps the better claim,</p>
            <p>Because it was grassy and wanted wear;</p>
            <p>Though as for that the passing there</p>
            <p>Had worn them really about the same,</p>
            <br />
            <p>And both that morning equally lay</p>
            <p>In leaves no step had trodden black.</p>
            <p>Oh, I kept the first for another day!</p>
            <p>Yet knowing how way leads on to way,</p>
            <p>I doubted if I should ever come back.</p>
            <br />
            <p>I shall be telling this with a sigh</p>
            <p>Somewhere ages and ages hence:</p>
            <p>Two roads diverged in a wood, and I—</p>
            <p>I took the one less traveled by,</p>
            <p>And that has made all the difference</p>
        </article>
    
        <figure>
            <img src="../img/img4.jpg" alt="img2">
        </figure>
        <article>
            <h1>Happness</h1>
            <p>
            하릴없이 집에서 뒹굴거리고 있을 때면<br>
            아래에서 어린 친구들이 뭐가 그리도 신이 나는지 떠드는 것이 들려온다.<br>
            나는 그에 인상을 찌푸리며 헤드셋을 눌러쓴다.<br>
            
            조 히사이시의 Nostalgia를 들으며 베란다로 나가 창을 연다.<br>
            그리고 두리번 거리며 그 소음의 주인공을 찾는다.<br>
            신나게 게임 이야기를 하며 걸어가는 초등학생들,<br>
            자기 반에 좋아하는 애가 있다고 (비밀스레)말해주는 중학생들,<br>
            순수하고 아름답게 서로를 바라보며 이야기를 나누는 고등학생 커플,<br>
            나는 헤드셋을 벗고 그들의 삶에 조심스레 귀를 담근다.<br>
            
            그들의 삶의 순수함에 젖어 들 때쯤<br>
            소리는 멀어져가더니 들리지 않게 된다.<br>
            다시 공허한 집,<br>
            고요한 공기,
            묵직한 한숨을 내쉬며 창문을 닫고<br>
            이를 모를 그들의 순수함에 감사를 표한다.<br>
            “덕분에 창문을 열었었다.”<br>
            
            어릴 적,<br>
            나는 행복에 대해 정의 내릴 필요가 없었었다.<br>
            아니, 정의라는 것 자체가 뭔지 몰랐었다.<br>
            하지만 커가며 행복에 대해 정의 내리려 애썼다.<br>
            지금 행복하지 않기 때문일까?<br>
            
            맞지 않는 집,<br>
            맞지 않는 옷,<br>
            맞지 않는 위치,<br>
            나에겐 맞지 않는 모든 것들이<br>
            한 때는 행복의 잣대이기도 했으나<br>
            지금의 나에겐 공포가 되었다.<br>
            
            그 뒤론 무언가 생길 때마다<br>
            잃을까 먼저 두려움을 느끼며<br>
            어디로 튈지 모르는 불안정한 정신으로,<br>
            내가 가진 얄팍한 삶의 지식으로<br>
            제멋대로 행복을 정의 내렸다.<br>
            그러고선 그들이 나의 삶에 더는 가까워지지 않도록<br>
            그들에게서 멀어지려 애썼다.<br>
            
            진짜 행복은 그를 정의 내리려 집착하지 않았을 때였다는 것을...<br>
            그를 알기까지 왜 이리도 긴 시간이 걸렸을까?<br>
            시끄럽다고 피하던 작은 소리에서도 알 수 있었던 것을..<br>
        </p>
        </article>
    
        <figure>
            <img src="../img/img3.jpg" alt="img2">
        </figure>
        <article>
            <h1>The road not taken</h1>
            <h2>-Robert Frost-</h2>
            <br />
            <p>Two roads diverged in a yellow wood,</p>
            <p>And sorry I could not travel both</p>
            <p>And be one traveler, long I stood</p>
            <p>And looked down one as far as I could</p>
            <p>To where it bent in the undergrowth;</p>
            <br />
            <p>Then took the other, as just as fair,</p>
            <p>And having perhaps the better claim,</p>
            <p>Because it was grassy and wanted wear;</p>
            <p>Though as for that the passing there</p>
            <p>Had worn them really about the same,</p>
            <br />
            <p>And both that morning equally lay</p>
            <p>In leaves no step had trodden black.</p>
            <p>Oh, I kept the first for another day!</p>
            <p>Yet knowing how way leads on to way,</p>
            <p>I doubted if I should ever come back.</p>
            <br />
            <p>I shall be telling this with a sigh</p>
            <p>Somewhere ages and ages hence:</p>
            <p>Two roads diverged in a wood, and I—</p>
            <p>I took the one less traveled by,</p>
            <p>And that has made all the difference</p>
        </article>
    
    </section>
</div>


<section class="tech-new up-on-scroll">
    <div class="title">
        <h2 class="title-text">Tech 최신 게시물</h2>
    </div>
    {% include tags.html %}
    <div class="contents">
        <table class="catalouge">
            <tr>
                {% assign sorted = site.pages | sort: 'date' | reverse | where: 'type', 'tech' %}
                {% for page in sorted limit:3 %}
                {% include post-card.html %}
                {% endfor %}
            </tr>
        </table>
    </div>
</section>

<section class="background-change-wrap up-on-scroll">
    <div>
    <img src="../img/bg.jpg" alt="" />
    </div>
</section>

<script>
let ticking = false;

function isElementUnderBottom(elem, triggerDiff) {
    const { top } = elem.getBoundingClientRect();
    const { innerHeight } = window;
    return top > innerHeight + (triggerDiff || 0);
    }

    function handleScroll() {
    ticking = false;

    const upOnScrollElems = document.querySelectorAll('.up-on-scroll');
    const upOnHeight = document.body.offsetHeight/2.5 ;
    console.log(upOnHeight);
    upOnScrollElems.forEach(elem => {
        if (isElementUnderBottom(elem)) {
        elem.style.opacity = "0";
        elem.style.transform = `translateY(${upOnHeight}px)`;
        } else {
        elem.style.opacity = "1";
        elem.style.transform = 'translateY(0px)';
        }
    });

    const changeBgSection = document.querySelector('.background-change-wrap');
    const changeBgImg = document.querySelector('.background-change-wrap > div');
    const {top: bgTop, height: bgHeight} = changeBgSection.getBoundingClientRect();
    if (bgTop < 0) {
        const rate = (-1) * bgTop / 4;
        changeBgImg.style.filter = `grayscale(${rate}%)`;
        changeBgImg.style.opacity = `${(100-rate/5) / 100}`;
    } else {
        changeBgImg.style.filter = 'none';
            changeBgImg.style.opacity = `1`;
    }
}

function requestTick() {
    if(!ticking) {
        requestAnimationFrame(handleScroll);
    }
    ticking = true;
}

window.addEventListener('scroll', requestTick);

</script>
