.body-left {
    width: 85%;
    margin: 0 10px 0 0;
    @media screen and (max-width: $tablet-break) {
        width: 100%;
        margin: 0;
    }
}
.body-right {
    width: 15%;
    margin: 0 0 0 10px;
    @media screen and (max-width: $tablet-break) {
        width: 100%;
        margin: 0;
    }
}

// header
.header-container {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $tablet-break) {
        flex-direction: column;
    }
}

.header-left > h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.1rem;
}

.header-left > h2 {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.1rem;
}

.header-right {
    margin-top: 2rem;
    @media screen and (max-width: $tablet-break) {
        margin-top: 1rem;
    }
}

.header-right > h3 {
    font-size: 0.7rem;
    font-weight: 500;
    margin: 0.1rem;
}


// body
.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: $tablet-break) {
        flex-direction: column;
    }
}


.contents {
    display: flex;
    flex-direction: column;
}

.contents-header {
    margin: 10px 0 3px 0;
}

.row-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.row-contents > h3 {
    margin: 0 3px 0 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.row-contents > p {
    margin: 0 0 0 3px;
    color: $medium-gray;
    font-weight: 600;
}

.contents > .contents-ul {
    margin: 0 30px;
}

.contents > article > p {
    margin: 5px 0 0 0;
    line-height: 1.4;
}

mark {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    // box-shadow: inset 0 -1px 0 rgb(0 0 0 / 25%);
}

.container > h3 {
    color: #2828b3;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    border-bottom: dashed 1px #CCCCCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.container > h4 {
    color: $medium-black;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 10px;
}


.container > ul {
    margin: 12px 0 24px 20px;
    list-style: circle;
}

.contents > article > ul {
    margin: 12px 0 24px 0;
    list-style: circle;
}