
.post-header {
    background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    min-height: 300px;
}

.post {
    width: 100%;
    img {
        width: 100%;
        margin-bottom: 20px;
    }
    .medium {
        width: 70%;
    }
    .small {
        width: 35%;
    }
}

.post-info {
    h1.post-title {
        color: $medium-black;
        margin: 8px 0;
    }
    h2.post-date {
        margin: 8px 0 50px 0;
        color: $medium-gray;
        font-size: 15px;
    }
}

.post-type {
    color: $orange;
    font-size: 18px;
    font-weight: 800;
    margin: 8px 0;
}

.post-ul {
    margin-left: 30px;
    list-style: circle;
}

pre {
    display: block;
    background-color: #ebeff2;
    border-radius: 10px;
}

p { 
    line-height: 1.8;
} 