// color code
$light-gray: #e9ecef;
$medium-gray: #808080;
$medium-black: #363636;
$orange: #ff7e00;

// media
$large-break: 1200px;
$desktop-break: 1025px;
$tablet-break: 768px;
$mobile-break: 480px;